* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  background-color: rgb(240, 234, 226);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  border-bottom: 2px solid rgb(209, 149, 69);

  padding: 1rem;
}

nav a {
  padding: 0 0.2rem 0 0.2rem;
  text-decoration: none;
  color: green;
}

a:hover {
  color: blueviolet;
  text-decoration: underline;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 0;
}

.hero-img {
  width: 35%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px dotted transparent;
  border-radius: 5px;
}

.hero-img:hover {
  border: 1px dotted green;
}

.hero h2 {
  width: 50%;
  color: green;
  text-align: center;
  font-size: 3rem;
}
